# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
env/
ml_venv/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Environment variables
# =========================
.env

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code settings (optional)
# =========================
.vscode/ 
